<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <appSettings>
        <add key="LogsBufferSize" value="1000" />
        <add key="Percorso1" value="C:\G20ClientRoma\G20Client.exe" />
        <add key="AutoRestart1" value="True" />
        <add key="GroupKey1" value="CLIENT" />
    </appSettings>
    
</configuration>